
@use "./base.scss";
@use "./keyboard.scss";

#graph {
  background: #FFF;
  color: #000;
}


:root {
  --gap:1rem;
  --pad:1rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: var(--pad);
}

.read-the-docs {
  color: #888;
}

#options{
  display: flex;
  margin: var(--pad);
  gap:1rem;
  > p{
    margin: 0;
    padding: 0;
  }
}

#wallpaper{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#midi-input-commands{
  position: fixed;
  top:1lh;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

#midi-output-commands{
  position: fixed;
  top:1lh;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  text-align: right;
}

#midi-controls{
  display: flex;
  flex-direction: column;
  gap:var(--gap,4px);
}

.react-flow__attribution{
  display: none;
}