@use "./options.scss";
@use "./fonts.scss";
@use "./scrollbar.scss";
@use "./base.scss";
@use "./buttons.scss";
@use "./keyboard.scss";
@use './node-graph.scss';
@use './layout.scss';
@use './typography.scss';
@use './keyframes.scss';
@use './notes.scss';

#app {
  display: none;
}

.logo {
  height: 1lh;
  margin-right: calc( var(--pad) / 2 );
  // padding: 1.5em;
  // will-change: filter;
  // transition: filter 300ms;
}
.logo:hover {
  // filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  // filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: var(--pad);
}

.read-the-docs {
  color: light-dark(
    color-mix(in oklch, var(--col-black) 50%, var(--col-white)),
    color-mix(in oklch, var(--col-white) 50%, var(--col-black))
  );
}