@use "./options.scss";
@use "./fonts.scss";
@use "./base.scss";
@use "./keyboard.scss";
@use './node-graph.scss';
@use './layout.scss';
@use './typography.scss';


#app {
  display: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: var(--pad);
}

.read-the-docs {
  color: #888;
}