#graph .beat{
	pointer-events: none;
}

// override defaults
#graph{
	.react-flow{
		grid-area: graph;
	}
	.react-flow__attribution{
		display: none;
	}
	.react-flow__edges{
		width: 100%;
	}
	.react-flow__node{
		--hue-accent:90%;
		--xy-node-border:transparent;
		--xy-node-group-background-color-default:transparent;
		padding:0;
		background-color: transparent;
	}

	.react-flow__controls-button{
		background-color: var(--col-black);
		svg {
			max-width: 32px;
			max-height: 32px;
			fill: var(--col-white);
		}
	}
}

.graph-node {
	color:var(--col-fg);
    border: var(--border);
    border-radius: var(--curve);
    padding: var(--pad);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
	
	background-color:   color-mix( in oklch, oklch(50% 0.1385  var(--hue-accent)) 90%, transparent);
	background-image: linear-gradient(
        0deg, 
        color-mix( in oklch, oklch(50% 0.16392 var(--hue-accent)) 90%, transparent),
        color-mix( in oklch, oklch(50% 0.1385  var(--hue-accent)) 90%, transparent)
	);
	background-blend-mode:hue;
   
	position: relative;
	min-width: var(--size, 150px);

	display: flex;
    flex-direction: column;
    gap: var(--gap);

    box-shadow: 0 4px 6px light-dark(
        color-mix(in oklch, var(--col-black) 10%, transparent),
        color-mix(in oklch, var(--col-black) 10%, transparent)
    );
    
	h6,h5,p {
		max-width: 30ch;
	}

	> label > button{
		width: 100%;
	}

	:has(.btn-remove),
	&.can-remove{

		// make space for close button
		> *:first-child {
			padding-right: calc(44px + var(--pad));
			margin-bottom:  var(--gap);
		}
	}

	&.connected{

	}

	&.disconnected{
		
	}

	&.has-controls{
		// make space for connect button a+ gui
		> *:first-child {
			padding-bottom: var(--pad);
			border-bottom: var(--border);
		}
	}
}

.node-transformer{

    min-height:var(--size, 150px);

    > *{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

	> label + label{
		margin-top: var(--gap);
	}

	select{
		margin-left: var(--gap);
	}

	.transformer-icon {
		width: 48px;
		height: 48px;
		padding: calc(var(--pad) * 0.5);
		margin: calc(var(--gap) * -1) 0 var(--gap) 0;
		margin-left: calc(var(--pad) * -1);
		margin-right: var(--gap);
		filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
		color: currentColor;

		&:hover {
			filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4)) brightness(1.1);
		}
	}

	h6 {
		display: flex;
		align-items: center;
		gap: var(--gap);
		
		&::before {
			content: '';
		}
	}
}

.node-start,
.node-end {
    --size:69px;
    border-radius: 999px;
    align-items: center;
    justify-content: center;
}

.node-start {
	--hue-accent:162;	// green
}

.node-end {
	--hue-accent:25;	// red
}

.node-input{
	--hue-accent:162;	// green
	min-width:404px;
}

.node-output{
	--hue-accent:25;	// red
	min-width:404px;
}

.category-tuning{
	--hue-accent:219;
}

.category-timing{
	--hue-accent:280;
}



.filter-label{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: var(--gap);
}

.graph-node-menu {

	gap:var(--gap);
	margin-top: var(--pad);
	padding-top: var(--pad);
    border-top: var(--border);

    button {
        font-size: 66%;
    }

    .btn-previous {
        &::before{
            content:'◀ ';    
        }
    }

    .btn-next{
        &::after{
            content:' ▶';    
        }
    }
}

.no-matches{
	color: var(--col-red);
}