.react-flow__attribution{
	display: none;
}

.graph-node {
    color: white;
    border: var(--border);
    border-radius: var(--curve);
    padding: var(--pad);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

    background: linear-gradient(
        0deg, 
        oklch(50% 0.16392 var(--hue-accent)) 0%, 
        oklch(50% 0.1385  var(--hue-accent)) 100%);

     min-width:150px;
   
	min-width: var(--size, 303px);
    min-height:var(--size);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
	display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.node-transformer{

    > h6 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
	    font-size: 1.5rem;
	    padding-right: calc(44px + var(--pad));
        margin-bottom:  var(--gap);
        padding-bottom: var(--pad);
        border-bottom: var(--border);
    }

    > *{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

	> label + label{
		margin-top: var(--gap);
	}

	select{
		margin-left: var(--gap);
	}
}

.filter-label{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: var(--gap);
}

.buttons-back {

	gap:var(--gap);
	margin-top: var(--pad);
	padding-top: var(--pad);
    border-top: var(--border);

    button {
        font-size: 66%;
    }

    .btn-previous {
        &::before{
            content:'◀ ';    
        }
    }

    .btn-next{
        &::after{
            content:' ▶';    
        }
    }
}

.node-start,
.node-end {
    --size:69px;
    border-radius: 999px;
    align-items: center;
    justify-content: center;
}

.node-start {
	--hue-accent:162;	// green
}

.node-end {
	--hue-accent:25;	// red
}

.category-tuning{
	--hue-accent:219;
}

.category-timing{
	--hue-accent:280;
}



.no-matches{
	color: rgb(221, 60, 60);
}
