.react-flow__attribution{
	display: none;
}

#graph .beat{
	pointer-events: none;
}

// override defaults
#graph .react-flow__node{
	--hue-accent:90%;
	--xy-node-border:transparent;
	--xy-node-group-background-color-default:transparent;
	padding:0;
	background-color: transparent;
}

#graph .react-flow__edges{
	width: 100%;
}

.graph-node {
	color:var(--col-fg);
    border: var(--border);
    border-radius: var(--curve);
    padding: var(--pad);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
	min-width:150px;
	
	background-color:   color-mix( in oklch, oklch(50% 0.1385  var(--hue-accent)) 90%, transparent);
	background-image: linear-gradient(
        0deg, 
        color-mix( in oklch, oklch(50% 0.16392 var(--hue-accent)) 90%, transparent),
        color-mix( in oklch, oklch(50% 0.1385  var(--hue-accent)) 90%, transparent)
	);
	background-blend-mode:hue ;
   
   
	min-width: var(--size, 90px);
    min-height:var(--size);
    box-shadow: 0 4px 6px light-dark(
        color-mix(in oklch, var(--col-black) 10%, transparent),
        color-mix(in oklch, var(--col-black) 10%, transparent)
    );
    
	display: flex;
    flex-direction: column;
    gap: var(--gap);

	p{
		max-width: 30ch;
	}
}

.node-transformer{

    > h6 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
	    font-size: 1.5rem;
	    padding-right: calc(44px + var(--pad));
        margin-bottom:  var(--gap);
        padding-bottom: var(--pad);
        border-bottom: var(--border);
    }

    > *{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

	> label + label{
		margin-top: var(--gap);
	}

	select{
		margin-left: var(--gap);
	}
}

.node-start,
.node-end {
    --size:69px;
    border-radius: 999px;
    align-items: center;
    justify-content: center;
}

.node-start {
	--hue-accent:162;	// green
}

.node-end {
	--hue-accent:25;	// red
}

.node-input{
	--hue-accent:162;	// green
}

.node-output{
	--hue-accent:25;	// red
}

.category-tuning{
	--hue-accent:219;
}

.category-timing{
	--hue-accent:280;
}



.filter-label{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: var(--gap);
}

.graph-node-menu {

	gap:var(--gap);
	margin-top: var(--pad);
	padding-top: var(--pad);
    border-top: var(--border);

    button {
        font-size: 66%;
    }

    .btn-previous {
        &::before{
            content:'◀ ';    
        }
    }

    .btn-next{
        &::after{
            content:' ▶';    
        }
    }
}

.no-matches{
	color: var(--col-red);
}