html{
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.6;
    font-weight: 400;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// h1 {
// }

// h2 {
// }
h1,h2,h3,h4,h5,h6, summary{
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1,h2{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    line-height: 1.1;
}

h3 {
    margin: 20px 0 10px;
    font-size: 24px;
    font-weight: 600;
}

summary{
    font-weight: 900;
   
}

  legend {
    font-weight: 600;
    padding: 0 calc(var(--pad));
  }