html{
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.6;
    font-weight: 400;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// h1 {
// }

// h2 {
// }

h1,h2{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    line-height: 1.1;
    text-transform: uppercase;
}
